/* colors */
:root{
    --accent-color:#2196F3;
    --main-color:#000000;
    --background-color:#757575;
    --second-color:#212121;
    --section-color:#2F303A;
}
/* font */
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;